[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
genanki = "*"
python-dotenv = "*"
requests = "*"
pprint = "*"

[requires]
python_version = "3.7"
